*{
    background-color: #282c34;
    color: #fff;
}

.center{
    text-align: center;
}

.container{
    width: 25rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    gap: 5px;
}

.inputTitle{
    flex-grow: 1;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: solid 1px #999;
}

.btnGuardar{
    border: none;
    background-color: #28a745    ;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}           

.btnGuardar:hover{
    opacity: 0.5;
}

.notasContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.todo{
    padding: 3px;
}
.todoTitle{
    flex: 1;
    font-size: 20px;
}

.todoInfo,
.updateForm{
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnUpdate{
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 76, 169);
    padding: 10px;
    cursor: pointer;
}

.btnUpdate:hover{
    opacity: 0.5
}

.btnDelete{
    border: none;
    border-radius: 5px;
    background-color: #dc3545    ;
    padding: 10px;
    cursor: pointer;
}

.btnDelete:hover{
    opacity: 0.5
}

.inputEdit{
    border: 1px solid rgb(26, 76, 169);
    width: 53%;
    padding: 8px;
    border-radius: 5px;
}

.btnActualizar{
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 76, 169);
    padding: 8px;
    cursor: pointer;
}

.btnActualizar:hover{
    opacity: 0.5
}